<mdb-card>
  <mdb-card-img [src]="dishInfo.strMealThumb" alt="Card image cap"></mdb-card-img>
  <mdb-card-body>
    <mdb-card-title class="text-center">
      <h4>{{dishInfo.strMeal}}</h4>
    </mdb-card-title>
    <mdb-card-text>
      <strong>Area</strong>: <span>{{dishInfo.strArea}}</span><br>
      <strong>Category</strong>: <span>{{dishInfo.strCategory}}</span><br>
      <strong>Tag</strong>: <span>{{dishInfo.strTags}}</span><br>
      <strong>Source</strong>: <span>{{dishInfo.strSource}}</span><br>
    </mdb-card-text>
  </mdb-card-body>
</mdb-card>
