<div class="content">
  <div class="row" *ngIf="dish">
    <div class="col-12 col-sm-1 col-md-2 col-lg-3 col-xl-3 no-gutters"></div>
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6 no-gutters p-4">
      <div class="p-2 text-center">
        <h4 class="m-3 font-weight-bold">{{ dish?.strMeal}}</h4>
        <img [src]="dish?.strMealThumb">
      </div>
      <strong class="font-weight-bold indigo-text">Area</strong>: <span>{{dish?.strArea}}</span><br>
      <strong class="font-weight-bold indigo-text">Category</strong>: <span>{{dish?.strCategory}}</span><br>
      <div class="text-justify pt-4">
        <span class="font-weight-bold indigo-text">Ingredients</span>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center"
            *ngIf="dish?.strIngredient1 && dish?.strIngredient1 !==''">
            {{dish?.strIngredient1}}
            <mdb-badge [pill]="true" [primary]="true">{{ dish?.strMeasure1}}</mdb-badge>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center"
            *ngIf="dish?.strIngredient2 && dish?.strIngredient2 !==''">
            {{dish?.strIngredient2}}
            <mdb-badge [pill]="true" [primary]="true">{{ dish?.strMeasure2}}</mdb-badge>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center"
            *ngIf="dish?.strIngredient3 && dish?.strIngredient3 !==''">
            {{dish?.strIngredient3}}
            <mdb-badge [pill]="true" [primary]="true">{{ dish?.strMeasure3}}</mdb-badge>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center"
            *ngIf="dish?.strIngredient4 && dish?.strIngredient4 !==''">
            {{dish?.strIngredient4}}
            <mdb-badge [pill]="true" [primary]="true">{{ dish?.strMeasure4}}</mdb-badge>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center"
            *ngIf="dish?.strIngredient5 && dish?.strIngredient5 !==''">
            {{dish?.strIngredient5}}
            <mdb-badge [pill]="true" [primary]="true">{{ dish?.strMeasure5}}</mdb-badge>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center"
            *ngIf="dish?.strIngredient6 && dish?.strIngredient6 !==''">
            {{dish?.strIngredient6}}
            <mdb-badge [pill]="true" [primary]="true">{{ dish?.strMeasure6}}</mdb-badge>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center"
            *ngIf="dish?.strIngredient7 && dish?.strIngredient7 !==''">
            {{dish?.strIngredient8}}
            <mdb-badge [pill]="true" [primary]="true">{{ dish?.strMeasure8}}</mdb-badge>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center"
            *ngIf="dish?.strIngredient9 && dish?.strIngredient9 !==''">
            {{dish?.strIngredient9}}
            <mdb-badge [pill]="true" [primary]="true">{{ dish?.strMeasure9}}</mdb-badge>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center"
            *ngIf="dish?.strIngredient10 && dish?.strIngredient10 !==''">
            {{dish?.strIngredient10}}
            <mdb-badge [pill]="true" [primary]="true">{{ dish?.strMeasure10}}</mdb-badge>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center"
            *ngIf="dish?.strIngredient11 && dish?.strIngredient11 !==''">
            {{dish?.strIngredient11}}
            <mdb-badge [pill]="true" [primary]="true">{{ dish?.strMeasure11}}</mdb-badge>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center"
            *ngIf="dish?.strIngredient12 && dish?.strIngredient12 !==''">
            {{dish?.strIngredient12}}
            <mdb-badge [pill]="true" [primary]="true">{{ dish?.strMeasure12}}</mdb-badge>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center"
            *ngIf="dish?.strIngredient13 && dish?.strIngredient13 !==''">
            {{dish?.strIngredient13}}
            <mdb-badge [pill]="true" [primary]="true">{{ dish?.strMeasure13}}</mdb-badge>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center"
            *ngIf="dish?.strIngredient14 && dish?.strIngredient14 !==''">
            {{dish?.strIngredient14}}
            <mdb-badge [pill]="true" [primary]="true">{{ dish?.strMeasure14}}</mdb-badge>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center"
            *ngIf="dish?.strIngredient15 && dish?.strIngredient15 !==''">
            {{dish?.strIngredient15}}
            <mdb-badge [pill]="true" [primary]="true">{{ dish?.strMeasure15}}</mdb-badge>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center"
            *ngIf="dish?.strIngredient16 && dish?.strIngredient16 !==''">
            {{dish?.strIngredient16}}
            <mdb-badge [pill]="true" [primary]="true">{{ dish?.strMeasure16}}</mdb-badge>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center"
            *ngIf="dish?.strIngredient17 && dish?.strIngredient17 !==''">
            {{dish?.strIngredient17}}
            <mdb-badge [pill]="true" [primary]="true">{{ dish?.strMeasure17}}</mdb-badge>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center"
            *ngIf="dish?.strIngredient18 && dish?.strIngredient18 !==''">
            {{dish?.strIngredient18}}
            <mdb-badge [pill]="true" [primary]="true">{{ dish?.strMeasure18}}</mdb-badge>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center"
            *ngIf="dish?.strIngredient19 && dish?.strIngredient19 !==''">
            {{dish?.strIngredient19}}
            <mdb-badge [pill]="true" [primary]="true">{{ dish?.strMeasure19}}</mdb-badge>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center"
            *ngIf="dish?.strIngredient20 && dish?.strIngredient20 !==''">
            {{dish?.strIngredient20}}
            <mdb-badge [pill]="true" [primary]="true">{{ dish?.strMeasure20}}</mdb-badge>
          </li>

        </ul>
      </div>
      <div class="text-justify pt-4">
        <span class="font-weight-bold indigo-text">Instructions</span>
        <p>{{ dish?.strInstructions}}</p>
      </div>
      <strong class="font-weight-bold indigo-text">Source</strong>: <a [href]="dish?.strSource" target="_blank"
        class="stretched-link">{{dish?.strSource}}</a><br>
      <div class="text-justify pt-4">
        <span class="font-weight-bold indigo-text">Video</span> <br>
        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
          <iframe class="embed-responsive-item" [attr.src]="getSecureUrl(dish.strYoutube)"
            allowfullscreen></iframe>
        </div>
      </div>

    </div>
    <div class="col-12 col-sm-1 col-md-2 col-lg-3 col-xl-3 no-gutters"></div>
  </div>
</div>
