<div class="content">
  <div class="row">
    <div class="col-12 col-sm-1 col-md-3 col-lg-4 col-xl-4 no-gutters"></div>
    <div class="col-12 col-sm-10 col-md-6 col-lg-4 col-xl-4 no-gutters p-4">
      <form class="text-center border border-light p-5" [formGroup]="loginForm">
        <div class="text-center">
          <img src="assets/images/logo.jpg" class="logo" alt="" srcset="">
        </div>
        <div #alert class="alert alert-danger text-center alert-dismissible fade show mt-4" role="alert"
          *ngIf="errorLogin">
          {{ 'errorLogin' | translate }}
        </div>
        <p class="h4 mb-4"> {{ 'title' | translate }}
        </p>
        <div class="md-form">

          <input type="email" formControlName="email" class="form-control mb-4"
            placeholder="{{ 'placeholder' | translate}}">
          <ng-container *ngFor="let validation of loginValidationMessages.email">
            <mdb-error
              *ngIf="loginForm.get('email')?.hasError(validation.type) && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
              {{ validation.message | translate }}</mdb-error>
          </ng-container>
        </div>
        <div class="md-form">

          <input type="password" formControlName="password" class="form-control mb-4" placeholder="Password">
          <div *ngFor="let validation of loginValidationMessages.password">
            <mdb-error
              *ngIf="loginForm.get('password')?.hasError(validation.type) && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
              {{ validation.message | translate }}
            </mdb-error>
          </div>
        </div>
        <div class="d-flex justify-content-around mb-4">
          <div>
            <mdb-checkbox [default]="true" [checked]="rememberOption">{{'remember_text' | translate}}</mdb-checkbox>
          </div>
        </div>
        <button mdbBtn color="info" class="mb-4" [block]="true" type="button" mdbWavesEffect
          [disabled]="loginForm.invalid" (click)="login()">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
          <span *ngIf="loading"> {{ 'loader_text' | translate}}</span>
          <span *ngIf="!loading">{{ 'btn_continue' | translate}}</span>
        </button>
        <p>{{'register_text' | translate}}
          <a (click)="navigateTo('/sign-up')" class="link">{{'register_link' | translate}}</a>
        </p>
      </form>
    </div>
    <div class="col-12 col-sm-1 col-md-3 col-lg-4 col-xl-4 no-gutters"></div>
  </div>
</div>
