/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
}

a.link {
  color: #33b5e5 !important;
  &:hover {
    color: #007ead !important;
  }
}
.footer {
  background-color: #091a42;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
  bottom: 0px;
  position: fixed;
  width: 100%;
}
